.feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin: 20px auto 20px auto;
    background: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
  }

  h3 {
    color: white;
    border-bottom: 2px solid #f0f2f5;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }

  .create-post {
    margin: 10px 0 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    background-color: #4267B2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .message {
    color: white;
  }

  .line {
    padding: 4px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.4);
    background: #c8c8c9;
    margin: 5px 0;
    width: 90%;
    border-radius: 10px;
  }

  .post {
    background: #f9f9f9;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
  }

  .user-a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .post .author {
    font-weight: bold;
  }

  .post .email {
    margin: -1px 0px 10px;
    color: gray;
  }

  .post .content {
    font-size: 1em;
    line-height: 1.5;
    padding-top: 10px;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .comment-title {
    margin-bottom: 16px;
    font-size: 1em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: 2px solid black;
    padding-top: 5px;
  }

  .comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #c8c8c9;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .comment-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-head-div {
    display: flex;
    margin: 0.6em;
    justify-content: space-between;
  }

  .comment-image-creator {
    width: 50px;
    height: 50px;
    margin-right: 0.6em;
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .comment-info-creator {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border-left: 2px solid gray;
    padding-left: 0.6em;
  }

  .comment-creator-name {
    margin: 0;
  }

  .comment-creator-email {
    margin: 0;
    font-size: 13px;
    color: gray;
  }

  .comment-exclude {
    font-size: 12px;
    color: #4267B2;
    transition-property: text-decoration, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    margin-right: 0.6em;
    text-decoration: none;
  }

  .comment-exclude:hover {
    color: #b83652;
    text-decoration: underline;
  }

  .comment-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    line-height: 25px;
  }

  .comment-text {
    width: 90%;
    border-radius: 10px;
    background-color: black;
    color: #f9f9f9;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .comment-creator {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .comment-input {
    width: 80%;
    border: none;
    resize: none;
    outline: none;
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    background: #c8c8c9;
  }

  .comment-submit {
    width: 30%;
    padding: 10px 20px;
    border: none;
    background-color: #07090e;
    color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease 1s;
  }
  
  .comment-submit:hover {
    background-color: #4267B2;
  }

  .circle {
    width: 100%; 
    height: 300px; 
    border-radius: 10%;
    background-color: #4267B2; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid #c8c8c9;
    border-bottom: 2px solid #c8c8c9;
  }
    
  .search {
      margin: 10px 0 20px 0;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      border-radius: 10px 5px;
      background-color: #f9f9f9;
      width: 90%; 
      justify-content: space-between;
  }

  .search div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search img {
      width: 40px;
      margin-right: 5px;
  }
  
  .search input {
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
      font-size: 15px;
      background-color: #f9f9f9;
  }

  .search button {
    width: 20%;
    padding: 10px 20px;
    border: none;
    background-color: #07090e;
    color: #f9f9f9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color ease 1s;
  } 
  
  .search button:hover {
    background-color: #4267B2;
  }

  .users {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.8);
    text-decoration: none;
    cursor: pointer;
    color: black;
    transition-property: background-color, color, padding;
    transition-duration: 500ms;
    transition-timing-function: ease;
  }

  .users:hover {
    background-color: #4267B2;
    color: #f9f9f9;
    padding: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
  }

  .info h2, .info p {
    margin: 5px;
  }

  .users img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .created-at {
    font-size: 12px;
    color: #4267B2;
  }

  .funcionalities {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 0 0;
  }

  .funcionalities a {
    font-size: 12px;
    color: #4267B2;
    transition-property: text-decoration, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    text-decoration: none;
  }

  .funcionalities a:hover {
    color: #b83652;
    text-decoration: underline;
  }

@media (max-width: 768px) {
    .feed {
        max-width: 100%;
        margin: 10px;
    }

    .post {
        width: 90%;
    }

    .users {
        width: 90%;
        align-items: center;
    }

    .search {
        flex-direction: column;
        align-items: stretch;
    }

    .search input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search button {
        width: 100%;
        padding: 6px;
    }
}

@media (max-width: 480px) {

    .feed {
      margin-top: 30px;
    }

    .search {
        justify-content: center;
    }

    .post {
      width: 90%;
    }

    .search input {
        font-size: 14px;
    }

    .search button {
        padding: 2px;
    }
}